body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img{
    width: 100%;
}

/* accsite */
.textsm{
    font-size: 1.5rem;
}
.smtext{
    font-size: 15px;
}
.coloraccsite{
    color: #393333;
}
.coloraccsite2{
    color: #feeb08;
}
.btnsite{
    color: #000000;
    background: #feeb08;
    border: 2px solid #feeb08;
    border-radius: 40px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.btnsite:hover{
    color: #fff;
    background: transparent;
    border: 2px solid #feeb08;
    padding: 10px 30px;
}
.btnsite2{
    color: #000000;
    background: #feeb08;
    border: 2px solid #feeb08;
    border-radius: 40px;
    padding: 10px 30px;
    text-transform: uppercase;
}
.btnsite2:hover{
    background: transparent;
    border: 2px solid #feeb08;
    padding: 10px 30px;
}
a{
    text-decoration: none;
}
a button{
    text-transform: uppercase;
}
/* navbarsect */
#navsect{
    background-color: #393333;
    padding: 25px 0;
}
#navsect ul li a{
    color: #fff;
    font-size: 16px;
    margin-right: 8px;
    text-transform: uppercase;
}
/* bannerhere */
.bannerhere{
    background-color: #393333;
    padding: 30px 0;
}
.imgSlot{
    width: 80%;
}

.borderimg{
    border: 2px solid #393333;
    background: #393333;
    color: #fff;
    overflow: hidden;
}
.borderimg img:hover{
    transform: scale(1.2);
    transition: 0.98s;
}
.bgaccsite {
    background: #393333;
}

/* Feature sect */
#featuresect .borderbox{
    border: 1px solid lightgrey;
    position: relative;
    padding: 15%;
    height:100%;
    transition-property: background-color;
    transition-duration: 2s;
}
#featuresect .borderbox:hover{
    background : #f3eebb;
}
.featuretext{
    padding: 35px 0;
}
.featuretext a{
    font-size:25px;
    color :#202020;
    font-weight :500;
    line-height:30px;
    margin-top: 20%;
}
.featuretext a:hover{
    color : brown;
}
#featuresect .borderbox a.roundcircle{
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #f3eebb;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.smimagetext{
    font-size:40px;
    color :#fff;
    font-weight :600;
    line-height:60px;
}   
.imagetext{
    font-size:30px;
    color :#fff;
    font-weight :400;
    line-height:35px;
}  
